<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019380535390-t4qa8doe551uh7sdo1q8he3jnk3qeq06.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019380535390-t4qa8doe551uh7sdo1q8he3jnk3qeq06</string>
	<key>API_KEY</key>
	<string>AIzaSyCrZgBXx8ymnAnQI1QUNsPXooqbgP2TcUU</string>
	<key>GCM_SENDER_ID</key>
	<string>1019380535390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cadenny.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-e645d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-e645d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019380535390:ios:07d63da3ec7f9b3017e4cf</string>
</dict>
</plist>